*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: beige;
    font-family: microsoft JhengHei;
}
#wrapper{
    margin:0px auto;
    width: 1024px;
}
#logo{
    height: 150px;
}
nav{
    background-color: #b63d32;
    text-align: center;
}